.join-sport-container {
  margin: 0px;

  .join-sport-dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .join-sport-card-avatar {
    background-image: url('src/assets/images/doge_cropped.jpg');
    background-size: cover;
  }

  .join-sport-card-more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .join-sport-card-image {
    background-image: url('src/assets/images/img_badminton_cropped_flip.jpg');
    background-size: cover;
    height: 200px;
    width: 100%;

    .join-sport-card-button-icon {
      margin: 5px;
    }

    .join-sport-card-icon {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 3px;
      padding-left: 4px;
    }
  }

  .join-sport-card-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
