<mat-card class="host-sport-card">
  <mat-card-header>
    <mat-card-title>Host Sport</mat-card-title>
  </mat-card-header>
  <div>
    <div>
      <mat-label>GID</mat-label>
      <div>{{sportGame.gid}}</div>
    </div>

    <div>
      <mat-label>GUID</mat-label>
      <div>{{sportGame.guid}}</div>
    </div>

    <div>
      <mat-label>Group Name</mat-label>
      <div>{{sportGame.guid}}</div>
    </div>

    <div>
      <mat-label>Group Preference</mat-label>
      <div>{{sportGame.groupType}}</div>
    </div>

    <div>
      <mat-label>Group Join Preference</mat-label>
      <div>{{sportGame.groupJoinType}}</div>
    </div>

    <div>
      <mat-label>Type of Sports</mat-label>
      <div>{{sportGame.sportType}}</div>
    </div>

  </div>
</mat-card>
