.sport-card-container {
	height: 100%;

	.sport-card {
		height: 100%;
		margin: 15px;

		.sport-card-avatar {
			background-image: url('src/assets/images/doge_cropped.jpg');
			background-size: cover;
		}

		.sport-card-more-button {
			position: absolute;
			top: 5px;
			right: 10px;
		}

		.sport-card-image {
			background-image: url('src/assets/images/img_badminton_flip.jpg');
			background-size: cover;
			height: 200px;
			width: 100%;
			margin-bottom: 15px;

			.sport-card-chip {
				margin-top: 10px;
			}

			.sport-card-button-icon {
				margin: 5px;
				margin-left: 7px;
			}

			.sport-card-icon {
				padding-top: 0px;
				padding-right: 0px;
				padding-bottom: 4px;
				padding-left: 1px;
			}
		}

		.sport-card-desc {
			margin-top: 10px;
		}

		.sport-card-button {
			margin-top: 5px;
			margin-bottom: 0px;
			margin-left: 10px;
		}
	}
}
