<div class="sport-card-container">
  <mat-card class="host-sport-card">
    <mat-card-header>
      <mat-card-title>Host Sport</mat-card-title>
    </mat-card-header>
    <div class="host-sport-info">
      <div class="host-sport-items">
        <mat-label>GID</mat-label>
        <div>{{ sportGame.gid }}</div>
      </div>

      <div class="host-sport-items">
        <mat-label>GUID</mat-label>
        <div>{{ sportGame.guid }}</div>
      </div>

      <div class="host-sport-items">
        <mat-label>Group Name</mat-label>
        <div>{{ sportGame.groupName }}</div>
      </div>

      <div class="host-sport-items">
        <mat-label>Group Description</mat-label>
        <div>{{ sportGame.groupDesc }}</div>
      </div>

      <div class="host-sport-items">
        <mat-label>Location</mat-label>
        <div>{{ sportGame.location }}</div>
      </div>

      <div class="host-sport-items">
        <mat-label>Group Preference</mat-label>
        <div>{{ sportGame.groupType }}</div>
      </div>

      <div class="host-sport-items">
        <mat-label>Group Join Preference</mat-label>
        <div>{{ sportGame.groupJoinType }}</div>
      </div>

      <div class="host-sport-items">
        <mat-label>Type of Sports</mat-label>
        <div>{{ sportGame.sportType }}</div>
      </div>
    </div>
  </mat-card>
</div>
