<h1>Angular Router</h1>
<nav>
  <button mat-raised-button routerLink="/login" routerLinkActive="active">Login</button>
  <button mat-raised-button routerLink="/register" routerLinkActive="active">Register</button>
  <button mat-raised-button routerLink="/sidenav" routerLinkActive="active">Sidenav</button>
  <button mat-raised-button routerLink="/join-game" routerLinkActive="active">Join Game</button>
  <button mat-raised-button routerLink="/host-game" routerLinkActive="active">Host Game</button>
</nav>

<router-outlet></router-outlet>