@import "../../../colors";

.host-sport-container {
	.host-sport-card {
		margin: 15px;

		label {
			color: rgba(0, 0, 0, .54);
		}

		.host-sport-row {
			display: flex;
			flex-direction: row;

			.host-sport-col {
				flex: 1;
				width: 0%;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				.host-sport-input {
					width: 100%;
				}

				.host-sport-image {
					background-color: $primaryBackgroundShadowColor;
					margin-bottom: 10px;
					ul,
					li {
						margin: 0;
						padding: 0;
						list-style: none;
					}
					mat-card-content,
					mat-card-action,
					button {
						width: 100%;
					}
				}

				.host-sport-datetime {
					// width: 100%;
					width: 100%;
				}

				.host-sport-radio-button {
					display: block;
					margin: 5px 0;
				}
			}
		}

		.host-sport-button {
			width: 100%;
		}
	}
}
