@import "../../../colors";

.host-sport-container {
	.host-sport-card {
		margin: 15px;

		.host-sport-row {
			display: flex;
			flex-direction: row;

			.host-sport-col {
				flex: 1;
				width: 0%;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				.host-sport-input {
					width: 100%;
				}

				.host-sport-datetime {
					// width: 100%;
					width: 100%;
				}

				.host-sport-radio-button {
					display: block;
					margin: 5px 0;
				}
			}
		}

		.host-sport-row-spacing {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}
