@import "../../../colors";

.host-sport-container {
	.host-sport-card {
		margin: 15px;

		label {
			color: rgba(0, 0, 0, .54);
		}

		.host-sport-row {
			display: flex;
			flex-direction: row;

			.host-sport-col {
				flex: 1;
				width: 0%;
				margin-right: 10px;

				.mat-icon-button {
					width: 18px;
					height: 18px;
					line-height: 18px;

					.mat-icon {
						font-size: 18px;
						width: 18px;
						height: 18px;
						line-height: 18px;
					}
				}

				&:last-child {
					margin-right: 0;
				}

				.host-sport-input {
					width: 100%;
				}

				// .host-sport-close-button {
				// 	// transform: scale(0.65);
				// }

				.host-sport-image {
					background-color: $primaryBackgroundShadowColor;
					margin-bottom: 10px;
					height: 200px;
					border-radius: 5px;
					border-color: rgba(0, 0, 0, .04);
					border-style: solid;
					ul,
					li {
						margin: 0;
						padding: 0;
						list-style: none;
					}
					.host-sport-uploaded-image {
						background-image: url('src/assets/images/img_badminton_cropped_flip.jpg');
						background-size: cover;
						height: 200px;
						width: 100%;
						margin-bottom: 5px;
						margin-top: 0px;
					}
					mat-card-content,
					mat-card-action,
					button {
						width: 100%;
					}
				}

				.host-sport-datetime {
					// width: 100%;
					width: 100%;
				}

				.host-sport-radio-button {
					display: block;
					margin: 5px 0;
				}
			}
		}

		.host-sport-button {
			width: 100%;
		}
	}
}
