<body class="login-container">
  <button mat-raised-button class="court-mgmt-button" (click)="login()" *ngIf="!authService.isLoggedIn">
  Court Management
  </button>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="login-box">
      <mat-card-header>
        <mat-card-title>Spointment</mat-card-title>
      </mat-card-header>

      <form class="login-form">
        <mat-card-content>
          <mat-form-field class="login-full-width">
            <input matInput placeholder="Username" />
          </mat-form-field>

          <mat-form-field class="login-full-width">
            <input matInput placeholder="Password" />
          </mat-form-field>
        </mat-card-content>

      </form>
      <div class="login-wrapper-button">
        <button mat-stroked-button class="btn-block" (click)="login()" *ngIf="!authService.isLoggedIn">
          Log In
        </button>
        <button mat-stroked-button class="btn-block" (click)="logout()" *ngIf="authService.isLoggedIn">
          Log Out
        </button>
        <button mat-stroked-button class="btn-block" routerLink="/register" routerLinkActive="active">
          Register
        </button>
      </div>
    </mat-card>
  </div>
</body>

<!-- <button mat-raised-button color="primary" (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
<button mat-raised-button color="primary" (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
<button mat-raised-button color="primary" routerLink="/register" routerLinkActive="active">Register</button> -->
<!-- <p >{{message}}</p> -->
<router-outlet></router-outlet>
