html,body{
  height:100%;
  margin:0;
  padding:0;
}


.login-container{
  /* background-image:url("src/assets/images/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png"); */
  background-color: #004ba0;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  min-height:100vh;
  font-family:'Roboto', sans-serif;
}

/* .login-header{
  justify-content:space-between;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2;
  box-shadow:0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
} */

.login-container .login-wrapper{height:100%;}

/* .positronx{text-decoration:none;color:#ffffff;} */

.login-container .login-box{
  position:relative;
  top:0;
  opacity:1;
  float:left;
  padding:60px 50px 40px 50px;
  width:100%;
  background:#fff;
  border-radius:10px;
  transform:scale(1);
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  z-index:5;
  max-width:200px;
}

.login-container .login-box.back{
  transform:scale(.95);
  -webkit-transform:scale(.95);
  -ms-transform:scale(.95);
  top:-20px;
  opacity:.8;
  z-index:-1;
}

.login-container .login-box:before{
  content:"";
  width:100%;
  height:30px;
  border-radius:10px;
  position:absolute;top:-10px;
  background:rgba(255, 255, 255, .6);
  left:0;transform:scale(.95);
  -webkit-transform:scale(.95);
  -ms-transform:scale(.95);
  z-index:-1;
}

.login-container .login-wrapper .login-form .register-form{
  min-width:100%;
  max-width:300px;
  width:100%;
}

.login-container .login-wrapper .login-full-width, .register-full-width, .login-wrapper .btn-block{
  width:100%;
}

.login-container .login-wrapper mat-card-header{
  text-align:center;
  width:100%;
  display:block;
  font-weight:700;
}

.login-container .login-wrapper mat-card-header mat-card-title{
  font-size:30px;
  margin:0;
}

.login-container .login-wrapper .mat-card{
  padding:40px 70px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.login-container .login-wrapper .mat-stroked-button{
  border:1px solid currentColor;
  line-height:54px;
  /* background:#FFF7FA; */
  background:#FFFFFF;
}

.login-container .login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{
  padding:0.8375em 0;
}

.login-container .login-wrapper-button button {
  color: #004ba0;
  margin-bottom: 8px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-container .mat-nav-list .active-list-item {
  background-color: #1976d2 !important; /* Note: You could also use a custom theme */
  color: #ffffff;
}

.nav-is-mobile .nav-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.nav-container .nav-toolbar {
  background-color: #004ba0;
  color: #ffffff;
}

.nav-container .nav-toolbar .mat-toolbar {
  position: relative;
  z-index: 8;
}

.nav-is-mobile .nav-toolbar .mat-toolbar {
  position: relative;
  z-index: 8;
}

  
.nav-container .nav-app-name {
  margin-left: 8px;
}

.nav-container .nav-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.nav-is-mobile .nav-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
      `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.nav-container .nav-toolbar-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
  Every toolbar row uses a flexbox row layout. */
flex: 1 1 auto;
}

.nav-container .nav-toolbar-button-group button{
  margin-right: 8px;
}

.nav-container .nav-toolbar-button-group button.logout-button{
  background-color: #1976d2;
  color:  #ffffff;
}

.nav-container .nav-toolbar-button-group button.user-profile-button{
  background-color: #1976d2;
  color:  #ffffff;
}

.nav-container mat-sidenav-content{
  background-color: #F5F5F5;
}

.host-sport-container .host-sport-card{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.host-sport-container .host-sport-input {
  width: 100%;
}


.host-sport-container .host-sport-row {
  display: flex;
  flex-direction: row;
}

.host-sport-container .host-sport-col {
  flex: 1;
  margin-right: 20px;
}

.host-sport-container .host-sport-col:last-child {
  margin-right: 0;
}

.host-sport-container .host-sport-radio-button .mat-radio-button {
  display: block;
  margin: 5px 0;
}

.host-sport-container .row-spacing{
  margin-top: 10px;
  margin-bottom: 10px;
}


.join-sport-container {
  margin: 20px;
}

.join-sport-container .join-sport-dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.join-sport-container .join-sport-card-more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.join-sport-container .join-sport-card-avatar {
  background-image: url('./assets/images/doge_cropped.jpg');
  background-size: cover;
}

.join-sport-container .join-sport-card{
  background-image:url("src/assets/images/img_badminton_cropped.jpg");
  background-size: cover;
  height: 200px;
  width: 100%;
}

.join-sport-container .join-sport-card-button{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #1976d2;
  color:  #ffffff;

}

.sport-card-container .host-sport-card .host-sport-info .host-sport-items{
  height: 60px;
}