@import "./colors";
@import "./material";

// Custom Global CSS

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.nav-content {
  background-color: $primaryBackgroundDarkColor;
}
